<h1>Sessions NEW</h1>

<center>
  <h2>Login</h2>

<div class="login">
  <form method="POST" action="/sessions">
    <label>Email: </label>
    <br>
    <input type="text" name="email" placeholder="Email">
    <br>
    <br>
    <label>Password: </label>
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <br>
    <input type="submit" value="Login">

  </form>
</div>
</center>
