<h1>User NEW</h1>

<center>
  <div class="new-user">
    <form method="POST" action="/users">
      <label>First Name:</label>
      <br>
      <input type="text" name="user[first_name]" placeholder="First Name">
      <br>
       <label>Last Name:</label>
      <br>
      <input type="text" name="user[last_name]" placeholder="Last Name">
      <br>
      <label>Email:</label>
      <br>
      <input type="text" name="user[email]" placeholder="Email">
      <br>
      <label>Password:</label>
      <br>
      <input type="password" name="user[password]" placeholder="Password">
      <br>
      <input type="submit" value="Register Account">
    </form>
  </div>
</center>
