<div class="deck-display">
  <% if @errors %>
    <% @errors.each do |error| %>
      <ul>
        <li class="message"><em><%= error %></em></li>
      </ul>
    <% end %>
  <% end %>
  <h2>Coming soon!</h2>
  <p><a href="/"><u>Go back</u></a></p>
  <!-- <h3>what's the title of your deck?</h3>
  <div class="new-deck-form">
    <form method="POST" action="/decks">
      <input type="text" name="deck[title]">
      &nbsp;<input type="submit" value="Submit">
  </form>
  <br> -->
</div>
