<header class="session-nav">
  <ul>
    <a href="/">Home</a>
    <% if logged_in? %>
    Hello, <%= current_user.first_name.capitalize %>!
    <a href="/logout">Logout</a>
    <% else %>
    <a href="/sessions/new">Login</a>
    <a href="/users/new">Create Account</a>
    <% end %>
  </ul>

</header>
